In [101]:
import numpy as np
import pandas as pd

In [102]:
df=pd.read_csv("Preprocessing/finalProcessedData.csv")
df.head(1)

,Unnamed: 0,name,voteCount,rating,address,cusine,cost,timing,lat,long,nearest
0,0,Peter Cat,12404 votes,4.2,"18A, Park Street, Park Street Area, Kolkata","North Indian, Continental","₹1,000",11am – 11:20pm (Mon-Sun),22.552832,88.352399,"The Hot Kati Roll, Rayyan Chinese Flavour, Dus..."

In [105]:
addressDict={}
a=df
a=np.asarray(a)
for i in range(len(a)):
    addressDict[i]=a[i][1]
len(addressDict)

6913

In [106]:
import json
with open('cityID.json', 'w') as fp:
    json.dump(addressDict, fp)

In [107]:
f=open('cityID.json')
data=json.load(f)
f.close()
type(data)

dict

In [108]:
df=df[['lat','long']]
df.head(1)

         lat       long
0  22.552832  88.352399

In [109]:
df=np.asarray(df)
df

array([[22.5528321 , 88.352399  ],
       [22.5528321 , 88.352399  ],
       [22.5526415 , 88.3526536 ],
       ...,
       [22.69014805, 88.420821  ],
       [22.6520429 , 88.4463299 ],
       [22.9435382 , 88.43645515]])

In [110]:
type(df[0][0])

numpy.float64

In [124]:
from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=100).fit(df)

In [125]:
x,y=nbrs.kneighbors([[22.5523,88.3680]])
len(y[0])

100

In [126]:
from sklearn.externals import joblib
joblib.dump(nbrs,"knnModel.pkl")

['knnModel.pkl']

In [127]:
knn=joblib.load('knnModel.pkl')
x,y=knn.kneighbors([[22.5523,88.3680]])
y

array([[ 545,  464,  521,  538,  667,  484,  535,  578,  751,  725,  356,
         162,  398, 2419,  352,  533,  487,  350,  240,  708,  611,  683,
          25,  285,  710,  110,  752,  591,  590, 5910, 1017,  161,  718,
         717,  334,  618,  619,  544,  740,  570,  225,  436,  701,  421,
        3241,  577,   19,  581,  347,  434,  732,  652,  408,  425,  246,
         552,  737,  101,  692,  729,  719,  542,  203,  349,  391,  390,
         393,  392,  394,   22,  109,  112,  647,  305,  306,  723,  383,
         273,  247,  493,  694,  108,  127,   90,   80,   45,   46,  251,
         648,   66,   96,  333,  113,  241,  191,   58,   97,   99,   98,
         361]], dtype=int64)

In [122]:
len(y[0])

100

In [123]:
location=[]
for loc in y[0]:
    location.append(addressDict[loc])
location

['Baba Kabab',
 'Delhi Belly',
 'Sajid Biryani & Roll',
 'Lick N Chick',
 'My Fast Food',
 'Tasty King',
 "New Qaiyum's Man Salwa Restaurant",
 'A A Biryani',
 'Dhaba Fast Food',
 'Mohammadi Fried Chicken',
 'Abul Biryani',
 'Be Kebabii',
 'Dine 9',
 'Sip N Lick',
 'Bedouin',
 'Hot Plate',
 'Om Snacks Center',
 'Shahi Dawat',
 'China Hut',
 'Nepal Chandra Sweets',
 'Restaurant62',
 'Alishan Biryani',
 'NFC Food Funda',
 'Chokherkhida',
 'Sanjha Chulha',
 "Haan 'D' Biryani",
 'Shaadi Ki Biryani',
 'Majlish',
 'Silver Nest',
 'Abar Bangali',
 'Hunger Bites',
 'Berezia',
 'Comboland',
 'The Great Indian Biryani House',
 'Madan Mohan Ghosh & Brothers',
 'Eliot Sandwich Corner',
 'Yummee',
 'Calcutta Calling',
 "Arshia's Kitchen",
 'Little Indulgence',
 'WBFC Sandwiches N Burger',
 'Fried N Grill',
 'WBFC',
 'Arabian Chicken Shawarma And Kebab',
 "Friend's Cornerr",
 'Italy To India',
 'Zainab Biryani',
 '7 Star Haji Biryani',
 'Chand Biryani',
 'Ather Biryani',
 'Mummy Home Catering',
 'Unnayan Cabin',
 'Shabistan',
 'Siddique Chicken Corner',
 'Shaan E Ayan',
 'New Gharib Nawaz Restaurant',
 'Kolkata Biryani',
 'Suruchi',
 'Al Street Flavour',
 "Gitika's Kitchen",
 'Shamim Biryani Corner',
 'Dacca Mistano Bhandar',
 'Kainat Food Corner',
 'Ajmeri Biryani',
 'Lazawab Biryani',
 'Starter',
 'Laziz Biryani Point',
 'CRC',
 'Aala Biryani House',
 'Shiraz Golden Restaurant',
 'Adraq',
 'Lazeez Express',
 'New Sangam Roll',
 "Sri Gopal's Misthanna Bhandar",
 'New Delhi Juice & Shakes Ice Cream Parlour',
 'Maharaja Thali',
 "Qaiyum's Luqma",
 'Park Sweets',
 'Al Baik Biryani & Fast Food Centre',
 'New Royal Biryani',
 'Kolkata Bhetki Fries',
 'Kaveh - House Of Nawabs',
 'Bombay Restaurant',
 'The Hot Kati Roll',
 'The GT Route - Jameson Inn Shiraz',
 'Park Pavilion - Jameson Inn Shiraz Hotel',
 'Rahmania',
 'Green Olive',
 "Jugal's",
 "Haldiram's Express",
 'Danish Biryani Hub',
 'Entally Darbar',
 'Chopstick',
 'Taj Biryani & Restaurant',
 'Zikra Biryani N Shakes',
 'The Food King',
 'Wow Chicken',
 'Hunger Bites',
 'Burger Express',
 "What's Your Flavour?"]

In [34]:
from selenium import webdriver

def scrapper(url):
    url=url.lower()
    googlemapUrl="https://www.google.com/maps/search/"

    option = webdriver.ChromeOptions()
    prefs = {'profile.default_content_setting_values': {'images':2, 'javascript':2}} # for faster loading of webpages
    option.add_experimental_option('prefs', prefs)

    driver = webdriver.Chrome("C:\\Users\\Abhinaba\\Downloads\\chromedriver.exe", options=option)
    driver.get(googlemapUrl+url)
    string=driver.find_element_by_css_selector('meta[itemprop=image]').get_attribute('content')
    driver.close()
    
    if string.find('&zoom=')==False:
        return "Invalid"
    else:
        x=string.split('?center=')[1].split('&zoom=')[0].split('%2C')[0]
        y=string.split('?center=')[1].split('&zoom=')[0].split('%2C')[1]
        return x,y


#for debug purposes
if __name__=="__main__":
    x,y=scrapper("parkstreet")
    print(x," ",y)

22.548724   88.358294